@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #e1e2dd;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.ArticleList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Article {
  background-color: #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 1.25em;
  width: 700px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
}

.Article img {
  display: flex;
  max-height: 120px;
  margin-right: 1.5rem;
  border: 4px solid #797876;
  border-radius: 5px;
}

.Article h2 {
  color: #797876;
}

.Article blockquote {
  margin: 0 0 1rem 0;
}

.Article figcaption {
  display: flex;
  flex-direction: column;
}

.ArticleList a {
  text-decoration: none;
}

/* TAGS */

blockquote > button {
  outline: transparent;
  color: #797876;
  background-color: transparent;
  border: none;
}

/* STARS */

.Article p {
  display: block;
}

.Article p button {
  color: #f8f8f8;
  background-color: transparent;
  border: none;
}

.Article p button:focus {
  outline: transparent;
}

.Article p button.is-favorite {
  color: #ecc94b;
}
