.ContactForm label {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #797876;
}

.ContactForm input,
textarea {
  width: 200px;
  padding: 3px;
  font: 1em sans-serif;
  cursor: pointer;
  background-color: #cccccc;
  border: 1px solid #220901;
  border-radius: 5px;
}

.ContactForm textarea {
  width: 250px;
  height: 120px;
}

.ContactForm h2 {
  color: #797876;
}
