.FavoritePage {
  min-height: 500px;
}

.FavoritePage h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #797876;
  text-transform: uppercase;
}

/* BUTTON */

.FavoritePage > button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.btn-fav {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.btn-fav:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}

.btn-fav:active {
  position: relative;
  top: 1px;
}
