.Footer ul {
  background-color: #f6aa1c;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.Footer ul {
  list-style: none;
}

.Footer a {
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
}

.Footer .Menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
