.social-container {
  background: #434343;
  padding: 4px 40px;
  margin-top: 50px;
}
.social-follow {
  text-align: center;
}
.social-icons {
  text-align: center;
}
a.social {
  margin: 0 10px;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
.copyright {
  text-align: center;
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(187, 15, 110);
}
