@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');

.navbar {
  display: flex;
  align-items: left;
  /* padding: 0.5rem 2rem; */
  width: 100%;
  background-color: #f6aa1c;
  margin-bottom: 4rem;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  max-width: 60%;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar li {
  display: inline-block;
  margin-left: 50px;
  font-size: 1.4em;
}

.navbar li a {
  padding: 1em;
  background-color: #f27405;
  color: #220901;
  text-decoration: none;
}

.title {
  align-items: center;
  justify-content: center;
  font-family: 60px 'Open Sans';
  color: #220901;
  display: inline-block;
  vertical-align: top;
}

.menucenter {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
}
