@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');

.navbar {
  display: flex;
  align-items: left;
  width: 100%;
  background-color: #434343;
  margin-bottom: 4rem;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  max-width: 60%;
  justify-content: center;
}

.navbar li {
  display: inline-block;
  margin-left: 50px;
  font-size: 1.4em;
}

.navbar li a {
  margin: 1em 1em 1em 0.2em;
  color: #f46263;
}

.title {
  align-items: center;
  justify-content: center;
  font-family: 60px 'Open Sans';
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

.menucenter {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

h1 {
  text-align: left;
  margin: 0 auto;
}

/************************ 
HREF UNDERLINE ANIMATION
************************/

.cool-link {
  display: inline-block;
  color: #f46263;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 2px;
  height: 2px;
  background: #f46263;
  transition: width 1s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 1s;
}

/************************ 
******VERSION MOBILE*****
************************/

@media only screen and (max-width: 376px) {
  .navbar-logo {
    display: none;
  }

  .menucenter {
    flex-direction: row-reverse;
  }
  /* MENU BURGER */
  .navbar ul {
    flex-flow: column nowrap;
    background-color: #797876;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 375px;
  }
}

/************************ 
******VERSION TABLETTE *****
************************/

@media only screen and (min-width: 377px) and (max-width: 1024px) {
  /* MENU BURGER */
}
