@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');

.navbar {
  display: flex;
  align-items: left;
  padding: 0.5rem 2rem;
  /* position: absolute;
  z-index: 1; */
  width: 100%;
  background-color: #f6aa1c;
}

.navbar-logo {
  max-width: 20%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 200px;
  font-size: 1.4em;
}

li a {
  padding: 1em;
  background-color: #f27405;
  color: #220901;
  text-decoration: none;
}

.title {
  align-items: center;
  justify-content: center;
  font-family: 60px 'Open Sans';
  color: #220901;
  display: inline-block;
  vertical-align: top;
}

.menucenter {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

h1 {
  text-align: center;
}
