.RecipePage {
  background-color: #4d4545;
}
.RecipePage h1 {
  color: #ed8d8d;
}

.Recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 5rem;
}

.ImgRecipe {
  padding-bottom: 2rem;
  max-height: 150px;
  max-width: 150px;
}

.ImgRecipe img {
  max-height: 150px;
  max-width: 150px;
}

.Ingredients {
  padding-bottom: 2rem;
}

.Measures,
.Ingredients {
  color: black;
  text-justify: auto;
}
