.SearchBar {
  margin: 36px auto;
  width: 100%;
  max-width: 800px;
}

.SearchLabel {
  position: relative;
}

.SearchBar input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-style: italic;
  color: #bf3604;
  box-sizing: border-box;
  outline: none;
  border-color: #bf3604;
  cursor: auto;
  background-color: #f27405;
}

.SearchBar input::placeholder {
  color: #bf3604;
}

.SearchIcon {
  position: absolute;
  top: 7px;
  right: 5px;
  font-size: 20px;
  color: #bf3604;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: transparent;
}

.SearchIcon:hover {
  color: #f6aa1c;
}

/* LOADER */

.SearchLoading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

/* SHOW & HIDE LOADER */

.show {
  display: inline-block;
}

.hide {
  display: none;
}
