.rec.rec-arrow {
  border-radius: 10%;
  color: #220901;
}
.rec.rec-dot.rec-dot_active.brcpxa {
  background-color: #f46263;
  box-shadow: 0 0 1px 3px rgb(32, 31, 32);
}

.slider img {
  max-height: 250px;
  height: 90%;
  border: 2px solid #797876;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.rec-arrow-right,
.rec-arrow-left {
  background: linear-gradient(to bottom, #e1e2dd, #e1e2dd 100%);
  cursor: pointer;
}

.chowzb:hover:enabled,
.chowzb:focus:enabled {
  background-color: #ed8d8d;
}

button.ikyGAt:hover,
button.ikyGAt:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px #220901;
}
